_site/
.bundle/
.jekyll-cache/
.sass-cache/
.jekyll-metadata
.DS_Store
vendor/
*/.DS_Store
/_data/
/_plugins/
/_posts/
/_recipes/
/admin/
/Gemfile
/Gemfile.lock
/_config.yml
/index.md
/404.md
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/favicon-32x32.png
/favicon-16x16.png
/feed.xml
/mstile-70x70.png
/mstile-144x144.png
/mstile-150x150.png
/mstile-310x150.png
/mstile-310x310.png
/site.webmanifest
/safari-pinned-tab.svg
/favicon.ico
/browserconfig.xml