{% comment %}
	account card displayed in recipes list to login or logout
{% endcomment %}
<div class="pure-u-1 pure-u-md-1-3 element-item" id="account_card">
	<div class="card">
		<div class="card-special">
			<span class="sign-in">
				<i class="signButton fa-user-circle far"></i>
				<label class="signButton">Google Sign-in</label>
				<p>Sign-in to save your personal list</p>
			</span>
			<span class="sign-out">
				<i class="signButton fa-user-circle fas"></i>
				<label class="signButton">Google Sign-out</label>
				<p>Use stars to add recipes to your list</p>
				<p class="resetStars">Reset stars</p>
			</span>
		</div>
	</div>
</div>