<header class="site-header">
  	<nav id="main-nav">
	  	<div id="burger">
	  		{% include burger.svg %}
	  	</div>
		<h1 id="logo">
			<a class="main-nav__icons" {% if page.layout and page.layout == 'recipe-single' %} href="/"{% endif %}>{{ site.name }}</a>
		</h1>
		<div class="searchbar">
			<form id="searchbar__form" method="get" onSubmit="return false" data-search-form>
			    <input id="searchbar__input" type="search" name="q" id="q" data-search-input />
			    {% include search-icon.svg %}
			    {% include search-empty.svg %}
			</form>
		</div>
		<div id="account">
			{% include account-button.svg %}
			</a>
		</div>
	</nav>
</header>