<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.layout == 'recipe-single' %}{{ page.title }} - a {{ page.category | downcase }} cocktail | {% endif %}{{ site.data.content.title }}{% if page.layout == 'recipes-list' %} - {{ site.data.content.description }}{% endif %}</title>
	{% if site.branch and site.branch != 'master' %}
		<meta name="robots" content="noindex, nofollow">
	{% endif %}
	
	{% comment %} processed data {% endcomment %}
	{% if page.layout and page.layout == 'recipe-single' %}
		{% capture simplified-ingredients %}{{ page.ingredients | downcase | regex_replace: '(^([0-9¼½¾⅓⅔]*\s?[¼½¾⅓⅔]?|[0-9]*(\/|,|\.|-|to|or)[0-9]*)\s?(oz.?|ounces?|cups?|tb?sp|(table|tea|bar)spoon|dash(es)?|drops?|top|pinch(es)?|slices?|pieces?|stalks?|splash(es)?|handful|sprigs?|cubes?|large|(m|c)?l|k?g)?\s?(of)?\s)|(\s\(.*\))|(,\s.*)', '' }}{% endcapture %}
		{% capture meta-description %}Get the recipe of this {{ page.category | downcase }} drink made up with {{ simplified-ingredients | regex_replace: '[\r\n]', ', ' }}.{% endcapture %}
		{% capture recipe-image %}{% if site.env != 'production' %}{{ site.data.content.url }}{% endif %}{{ page.image }}{% endcapture %}
	{% endif %}
	<meta name="description" content="{% if meta-description %}{{ meta-description }}{% else %}{{ site.data.content.meta-description }}{% endif %}">
	<meta name="thumbnail" content="{% if page.layout == 'recipe-single' %}{{ recipe-image | prepend: site.data.content.url | append: site.data.tools.netlify-lm.img--sharing }}{% else %}{{ '/assets/img-static/sharing-img.png' | prepend: site.data.content.url }}{% endif %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	{% comment %} open graph meta {% endcomment %}
	<meta property="og:title" content="{% if page.layout == 'recipe-single' %}{{ page.title }} - a {{ page.category | downcase }} cocktail | {% endif %}{{ site.data.content.title }}{% if page.layout == 'recipes-list' %} - {{ site.data.content.description }}{% endif %}">
	<meta property="og:type" content="{% if page.layout == 'recipe-single' %}article{% else %}website{% endif %}">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.data.content.url }}">
	<meta property="og:image" content="{% if page.layout == 'recipe-single' %}{{ recipe-image | prepend: site.data.content.url | append: site.data.tools.netlify-lm.img--sharing }}{% else %}{{ '/assets/img-static/sharing-img.png' | prepend: site.data.content.url }}{% endif %}">
	<meta property="og:description" content="{% if meta-description %}{{ meta-description }}{% else %}{{ site.data.content.meta-description }}{% endif %}">
	<meta property="og:site_name" content="{{ site.data.content.title }}">
	<meta property="og:locale" content="{{ site.locale }}">
	{% if page.date %}
	<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
	{% endif %}
	{% comment %} favicon {% endcomment %}
	{% if page.layout and page.layout == 'recipes-list' %}
		<link rel="canonical" href="{{ site.data.content.url }}" />
	{% endif %}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' }}">
	<link rel="manifest" href="{{ '/site.webmanifest' }}">
	<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' }}" color="#0c1e30">
	<link rel="shortcut icon" href="{{ '/favicon.ico' }}">
	<meta name="apple-mobile-web-app-title" content="boozy bisou">
	<meta name="application-name" content="boozy bisou">
	<meta name="msapplication-TileColor" content="#0c1e30">
	<meta name="msapplication-config" content="{{ '/browserconfig.xml' }}">
	<meta name="theme-color" content="#0c1e30">
	
	{% comment %} google structured data {% endcomment %}
	{% if page.layout == 'recipes-list' %}
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "WebSite",
		  "url": "{{ site.data.content.url }}",
		  "potentialAction": {
			"@type": "SearchAction",
			"target": {
			  "@type": "EntryPoint",
			  "urlTemplate": "{{ site.data.content.url }}/?q={search_term_string}"
			},
			"query-input": "required name=search_term_string"
		  }
		}
	</script>
	{% else if page.layout == 'recipe-single' %}
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org/",
		  "@type": "Recipe",
		  "name": "{{ page.title }}",
		  "image": [
				"{{ recipe-image | prepend: site.data.content.url | append: site.data.tools.netlify-lm.img--1x1 }}",
				"{{ recipe-image | prepend: site.data.content.url | append: site.data.tools.netlify-lm.img--4x3 }}",
				"{{ recipe-image | prepend: site.data.content.url | append: site.data.tools.netlify-lm.img--16x9 }}"
				],
		  "author": {
			"@type": "Person",
			"name": "{{ site.data.content.title }}"
		  },
		  "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
		  "description": "A {{ page.category | downcase }} drink made up with {{ simplified-ingredients | regex_replace: '[\r\n]', ', ' }}.",
		  "keywords": "cake for a party, coffee",
		  "recipeCategory": "Cocktail",
		  "recipeIngredient": [
		  	"{{ page.ingredients | regex_replace: 'ounces?|oz\.', 'oz' | regex_replace: '(tea|bar)spoon', 'tsp' | regex_replace: '(?<=[0-9]),5', '½' | replace: "tablespoon", "tbsp" | replace: "1/4", "¼" | replace: "1/2", "½" | replace: "3/4", "¾" | replace: "1/3", "⅓" | replace: "2/3", "⅔" | regex_replace: '[\r\n]', '",
			"'}}"
			]
		}	
	</script>
	{% endif %}
		
	<!-- Preload -->
	<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/webfonts/Abril-Fatface.woff2' }}" crossorigin>
	<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/webfonts/Barlow-Condensed.woff2' }}" crossorigin>
	
	<!-- CSS -->
	<link href="{{ '/assets/stylesheets/main.css' }}" type="text/css" rel="stylesheet" >
	
	<!-- Javascript -->
	<script type="text/javascript">
		{% include dark-theme.min.js %}
	</script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/jquery.min.js' }}"></script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/isotope.pkgd.min.js' }}"></script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/lazyload.min.js' }}"></script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/bodyScrollLock.min.js' }}"></script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/firebase-app.js' }}"></script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/firebase-auth.js' }}"></script>
	<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/firebase-database.js' }}"></script>
	{% if site.env == 'production' %}
		<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/main.min.js' }}"></script>
	{% else %}
		<script defer type="text/javascript" crossorigin="anonymous" src="{{ '/assets/scripts/main.js' }}"></script>
	{% endif %}
	
	<link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
	<link href="https://lh3.googleusercontent.com" rel="preconnect" crossorigin>
	
	{% if site.data.tools.google-analytics.id  and site.data.tools.google-analytics.id != "" %}
	<script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.data.tools.google-analytics.id }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', '{{ site.data.tools.google-analytics.id }}');
	</script>
	{% endif %}
	
	{% if page.layout == 'recipes-list' %}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{% endif %}
	
</head>