/****** Theme colors *****/
:root {
    --primary-color: {{ site.data.taxonomies.theme-colors.primary_color }};
	--bg-color: {{ site.data.taxonomies.theme-colors.bg_color }};
	--secondary-bg-color: {{ site.data.taxonomies.theme-colors.secondary-bg_color }};
    --font-color: {{ site.data.taxonomies.theme-colors.font_color }};
    --secondary-font-color: {{ site.data.taxonomies.theme-colors.secondary-font_color }};
}

/* alt/dark mode */
[data-theme="dark"] {
    --primary-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_primary_color }};
	--bg-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_bg_color }};
	--secondary-bg-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_secondary-bg_color }};
    --font-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_font_color }};
    --secondary-font-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_secondary-font_color }};
}

/****** Google Fonts *****/
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:	local('Abril Fatface'), local('AbrilFatface-Regular'),
  		url(../assets/webfonts/Abril-Fatface.woff2) format('woff2'),
  		url(../assets/webfonts/Abril-Fatface.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:	local('Barlow Condensed Light'), local('BarlowCondensed-Light'),
  		url(../assets/webfonts/Barlow-Condensed.woff2) format('woff2'),
  		url(../assets/webfonts/Barlow-Condensed.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/****** Main theme & normalize *****/
html {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
html, button, input, select, textarea {
	font-family: 'Barlow Condensed', Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.6em;
	letter-spacing: 0.05em;
	word-spacing: 0.04em;
    text-rendering: auto;
}
h1, h2, h3, h4, h5, h6, .label {
	font-family: 'Abril Fatface', Georgia-Bold, Georgia, cursive;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1em;
}
h1 {
	font-size: 2.25em;
	margin: 0.4em 0;
}
h2 {
	font-size: 1.8em;
	line-height: 1.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1.6em;
}
li {
	list-style-type: circle;
}
a, button {
	cursor: pointer;
	text-decoration: none;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
}
p {
	margin: 0;
}
button, input {
    font-size: 100%;
    margin: 0;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
input::-webkit-search-cancel-button {
	display: none;
}
svg {
	display: inline-block;
    vertical-align: middle;
    width: 1em;
}
svg .primary-color {
	fill: var(--primary-color);
}
svg .font-color {
	fill: var(--font-color);
}
svg .secondary-font-color {
	fill: var(--secondary-font-color);
}
.lazy {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#main-container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	margin-top: 4.5rem;
	padding-left: 0;
}
aside, div, footer, header, input, nav, section {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
a {
	color: var(--font-color);
}
:focus, input:focus, textarea:focus {
	outline: none
}

/****** Header Section *****/

/* header & nav */
.site-header {
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}
#main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0 1.2rem;
	width: calc(100% + 16.5rem);
	height: 4.5rem;
	background-color: var(--primary-color);
	-webkit-transform: translate(-16rem);
	    -ms-transform: translate(-16rem);
	        transform: translate(-16rem);
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
    transition: -webkit-transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.activeSidebar #main-nav {
	-webkit-transform: translate(0);
	    -ms-transform: translate(0);
	        transform: translate(0);
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
    transition: -webkit-transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

/* burger button */
.main-nav__icons {
	width: 2.4em;
	height: 2.4em;
	cursor: pointer;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
}
#burger {
	height: 100%;
	margin-left: calc(16rem - 1.2rem);
	padding: 0 1.2rem 0 1.7rem;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* logo */
#logo {
	margin: 0;
	position: absolute;
    right: calc(100% - (16.5rem - 1.2rem));
}
#logo > a {
	display: block;
	background: url('/assets/img-static/logo.svg') right no-repeat;
	background-size: 75%;
	text-indent: -9999px;
	font-size: 1em;
    margin: 0;
}
:root[data-theme="dark"] #logo > a {
	background-image: url('/assets/img-static/alt_logo.svg');
}

/* account */

#account {
	position: absolute;
	height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 1.2rem;
}
.signed-in .main-nav__icons--account {
	background-size: cover;
	border-radius: 50%;
	border: solid 0.08em var(--font-color);
	width: 2.1em;
    height: 2.1em;
}

/* search desktop & mobile */
.searchbar {
	width: 20em;
	margin-left: auto;
	margin-right: 0.5em;
	padding-left: 0.4em;
	overflow: hidden;
}
.layout--recipe-single .searchbar {
	display: none;
}
.layout--recipe-single #logo {
	margin-right: auto;
}
#searchbar__form {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	position: relative;
}
#searchbar__input {
	-webkit-appearance: none !important;
	border: none;
	font-size: 1.15em;
	padding: 0.13em 1.74em 0.13em 2.6em;
	height: 2.43em;
	width: 100%;
	color: var(--font-color);
	background-color: var(--secondary-bg-color);
	border-radius: 0.35em;
}
.searchbar__label {
	display: none;
}
.searchbar__icon {
	position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.searchbar__icon--search {
	width: 1.8em;
    padding-left: 0.6em;
    padding-top: 0.08em;
}
.searchbar__icon--empty-search {
	display: none;
	right: 0;
	width: 1.2em;
	height: 100%;
    padding: 0 0.6em;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}
.searchbar__icon--empty-search.active {
	display: block;
}

.searchbar:hover .searchbar__icon--empty-search.active {
	opacity: 1;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

/****** Sidebar menu *****/

.sidebar {
	display: none;
	position: fixed;
	left: 0;    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
        -ms-flex-direction: column;    
            flex-direction: column;
    margin: 0;
	height: 100vh;
    width: 16rem;
    background-color: var(--primary-color);
    overflow-x: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    z-index: 30;
    max-width: 80%;
}
.sidebar {
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.activeSidebar .sidebar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sidebar > div {
	margin-top: 1.1em;
}
.filter-button {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 2.7em;
    height: 2.7em;
    padding: 0 0 0 1.2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.filter-button.active {
	background-color: var(--secondary-bg-color);
}
.filter-button__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 1.6em;
	height: 100%;
    margin: 0 0.7em 0 0.45em;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.filter-button__icon--all-recipes:before {
	content: '';
	width: 100%;
    height: 100%;
	background: url('/assets/img-static/logo-icon.svg') no-repeat center;
}
:root[data-theme="dark"] .filter-button__icon--all-recipes:before {
	background-image: url('/assets/img-static/alt_logo-icon.svg');
}
.filter-button__icon--bookmarks:before {
	content: '';
	width: 100%;
    height: 100%;
	background: url('/assets/img-static/bookmarks.svg') no-repeat center;
}
:root[data-theme="dark"] .filter-button__icon--bookmarks:before {
	background-image: url('/assets/img-static/alt_bookmarks.svg');
}

.filter-button__icon--circle:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	width: 1.02em;
    height: 1.02em;
	margin: auto;
	background: var(--font-color);
    border-radius: 50%;
}
.filter-button__active {
	display: none;
	position: absolute;
    width: 0.25em;
    height: 100%;
    background-color: var(--font-color);
    left: 0;
    top: 0;
}
.filter-button.active .filter-button__active {
	display: block;
}
.filter-button__title {
	font-size: 1.06em;
}
.layout--recipe-single .filter-button.active {
	background-color: unset;
}
.layout--recipe-single .filter-button.active .filter-button__active {
	display: none;
}
.sidebar > div > span {
    padding-left: 1.6em;
    color: var(--secondary-font-color);
    font-size: 0.9em;
    font-style: italic;
}

/* sorting */
.sorting {
	margin-bottom: 13rem;
}
.layout--recipe-single .sorting {
	display: none;
}
.sorting-button-group {
	list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
	margin: 0.6em auto;
    padding: 0;
}
.sort-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	padding: 0 0.8em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    cursor: pointer;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.sort-button__icon {
	width: 1.2em;
	height: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sort-button__icon--name {
	background: url('/assets/img-static/sort--name.svg') center no-repeat;
}
:root[data-theme="dark"] .sort-button__icon--name {
	background-image: url('/assets/img-static/alt_sort--name.svg');
}
.sort-button__icon--date {
	background: url('/assets/img-static/sort--date.svg') center no-repeat;
}
:root[data-theme="dark"] .sort-button__icon--date {
	background-image: url('/assets/img-static/alt_sort--date.svg');
}
.sort-button__icon--rating {
	background: url('/assets/img-static/sort--rating.svg') center no-repeat;
}
:root[data-theme="dark"] .sort-button__icon--rating {
	background-image: url('/assets/img-static/alt_sort--rating.svg');
}
.sort-button__icon:before {
	content: '';
	width: 0.9em;
	height: 0.9em;
	position: absolute;
	-webkit-transform: translate(-1.1em);
	    -ms-transform: translate(-1.1em);
	        transform: translate(-1.1em);
    display: none;
}
.asc .sort-button__icon:before {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: url('/assets/img-static/arrow--up.svg') center no-repeat;
}
:root[data-theme="dark"] .asc .sort-button__icon:before {
	background-image: url('/assets/img-static/alt_arrow--up.svg');
}
.desc .sort-button__icon:before {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: url('/assets/img-static/arrow--down.svg') center no-repeat;
}
:root[data-theme="dark"] .desc .sort-button__icon:before {
	background-image: url('/assets/img-static/alt_arrow--down.svg');
}
body:not(.signed-in) #sort-button--rating {
	display: none;
}
.sort-button__label {
    font-size: 0.85em;
    line-height: 1.6em;
}
.filter-button__title, .sidebar > .sorting, .sidebar span {
	white-space: nowrap;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.overlay {
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: var(--primary-color);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.activeSidebar #overlay--sidebar, .modal-open #overlay--modal {
    visibility: visible;
    opacity: 0.5;
}


/****** List layout > Cards *****/

/* main structure */
#content {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.grid-layout {
	padding: 2em 1.2em;
}
.activeSidebar #content, .activeSidebar #overlay--sidebar {
	-webkit-transform: translate(16rem);
	    -ms-transform: translate(16rem);
	        transform: translate(16rem);
}
#isotopeContent {
	overflow: hidden;
	opacity: 0;
}
#isotopeContent.showOn {
	opacity: 1
}
.card--list {
	margin: 0 0em 1.8em 0em;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	max-width: 37.5em;
}
.card--single {
	padding: 0;
}
.card--single:before {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	width: 0.25em;
	height: 100%;
	content: '';
}
.card__cover {
	overflow: hidden;
	position: relative;
}
.card__cover--list {
	height: 12.4em;
	border-radius: 1em;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}
.card__cover--single {
	height: 14em;
	border-radius: 0;
}
.card__body--list {
	overflow: hidden;
	height: 11.2em;
	padding: 0.75em 0.5em;
}
.card__body--single {
	overflow: hidden;
	height: auto;
	padding: 1em 2em;
}

/* cards img */
.card__cover__img {
	width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	-webkit-transition: all .6s cubic-bezier(.17,.67,.38,.91);
	-o-transition: all .6s cubic-bezier(.17,.67,.38,.91);
	transition: all .6s cubic-bezier(.17,.67,.38,.91);
}
.card__cover__img--placeholder {
    height: 100%;
    background: url('/assets/img-static/logo-icon.svg') no-repeat center;
    background-size: 18%;
}
:root[data-theme="dark"] .card__cover__img--placeholder {
    background-image: url('/assets/img-static/alt_logo-icon.svg');
}

/* cards img shadow */
.card__cover:after {
    display: block;
    position: absolute;
    background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, 0.2)));
    background-image: -o-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2));
    background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2));
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    content: '';
}
.card__cover--list:before {
	display: block;
	position: absolute;
	-webkit-transition: all 0.25s cubic-bezier(.17,.67,.38,.91);
	-o-transition: all 0.25s cubic-bezier(.17,.67,.38,.91);
	transition: all 0.25s cubic-bezier(.17,.67,.38,.91);
	z-index: 2;	
	bottom: 0;
	width: 3.8%;
	height: 100%;
	content: '';
}
{% for category in site.data.taxonomies.theme-colors.categories-colors %}
.before-bg--{{ category.category-title | slugify }}:before {
	background-color: {{ category.category-color }};
}
{% endfor %}

/* cards title */
.card__body__title {
	line-height: 1em;
	margin: 0;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.card__body__title--list {
	padding: 0.5em 0 0.4em 0;
}
.card__body__title--single {
	padding: 0.1em 0 0.5em 0;
}
.card__body__controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 2em;
	margin-bottom: 0.35em;
}

/* cards desc */
.card__body__description--list {
	font-size: 0.92em;
	line-height: 1.45em;
	margin: 0;
}
.card__body__ingredients, .card__body__description--single {
	margin-bottom: 1.6em;
}
.card__body__description--single {
	font-size: 1.1em;
}
.card__body__description__label {
	line-height: 1.6em;
}

/****** Single layout > Recipe *****/
/*
	.source {
	margin-top: 30px;
	font-size: 0.8em;
	line-height: 1.5em;
}
*/
.card__body__ingredients__item {
	display: block;
	line-height: 2em;
	font-weight: bold;
	font-size: 1.4em;
}
.card__body__description__instructions {
	margin-bottom: 1em;
}

/****** Footer Section *****/
.card__body__edit-recipe {
	text-align: center;
	min-height: 1.6em;
    margin: 1.2em 0;
}


/****** Special > Personal list *****/

.card__body__controls__bookmark {
	width: 2em;
	cursor: pointer;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	background: url('/assets/img-static/bookmark--border.svg') center no-repeat;
}
:root[data-theme="dark"] .card__body__controls__bookmark {
	background-image: url('/assets/img-static/alt_bookmark--border.svg');
}
.card__body__controls__bookmark:before {
	content:'';
	vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('/assets/img-static/bookmark.svg') center no-repeat;
	opacity: 0;
}
:root[data-theme="dark"] .card__body__controls__bookmark:before {
    background-image: url('/assets/img-static/alt_bookmark.svg');
}
.card__body__controls__bookmark.active:before {
	opacity: 1;
}

/****** Special > Star rating *****/

.card__body__controls__rating {
	position: relative;
	cursor: pointer;
	width: 10em;
	height: 2em;
}
.rating__borders, .rating__dots {
	position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
}
.rating__dots {
	background: url('/assets/img-static/star--dots.svg') center repeat;
}
:root[data-theme="dark"] .rating__dots {
	background-image: url('/assets/img-static/alt_star--dots.svg');
}
.rating__borders {
	background: url('/assets/img-static/star--borders.svg') center repeat;
	z-index: -1;
	opacity: 0;
}
:root[data-theme="dark"] .rating__borders {
	background-image: url('/assets/img-static/alt_star--borders.svg');
}
.rating__icons { 
	float: right;
	display: inline-block;
    cursor: pointer;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    width: 20%;
    height: 100%;
    margin: 0;
	opacity: 0;
	background: url('/assets/img-static/star.svg') center no-repeat;
}
:root[data-theme="dark"] .rating__icons { 
	background-image: url('/assets/img-static/alt_star.svg');
}
.card__body__controls__rating.active > .rating__dots {
	display: none;
}
.card__body__controls__rating.active > .rating__borders {
	opacity: 1;
}

.rating__icons.active,
.rating__icons.active ~ .rating__icons  { 
	opacity: 1;
}


/****** Special > Various *****/

/* no result search */
#no-result {
	display:none;
	list-style-type: none;
	text-align: center;
	font-style: italic;
}
#no-result li {
	list-style-type: none;
}
#no-result.active {
	display: block;
}

/* admin contents */
.adminContent {
	display: none;
}
.adminContent.active {
	display: initial;
}


/****** Special > Modal *****/

.fade:not(.show) {
	opacity: 0;
}
.fade {
	-webkit-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
}
.modal .close {
	width: 2em;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    cursor: pointer;
}
.modal {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: calc(100% - 2em);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: var(--font-color);
	border-radius: 0.8em;
	padding: 3em;
	z-index: 1050;
    bottom: 0;
    left: 50%;
    visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
    color: var(--primary-color);
}
.modal.fade {
	-webkit-transform: translate(-50%, 25%);
	    -ms-transform: translate(-50%, 25%);
	        transform: translate(-50%, 25%);
	-webkit-transition: -webkit-transform .4s cubic-bezier(.17,.67,.38,.91);
	transition: -webkit-transform .4s cubic-bezier(.17,.67,.38,.91);
	-o-transition: transform .4s cubic-bezier(.17,.67,.38,.91);
	transition: transform .4s cubic-bezier(.17,.67,.38,.91);
	transition: transform .4s cubic-bezier(.17,.67,.38,.91), -webkit-transform .4s cubic-bezier(.17,.67,.38,.91);
}
.modal.show {
	visibility: visible;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}
.modal-content {
    width: 100%;
}
.modal-title {
	margin: 0;
}
.modal-content__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 1.8em;
}
.modal-content__button #button--signOut {
	display: none;
}
.signed-in .modal-content__button #button--signOut {
	display: block;
}
.modal-content a {
	color: var(--primary-color);
	font-style: italic;
	margin: 0.2em auto;
}
#button--signIn {
    width: 15em;
    cursor: pointer;
}
.signed-in #button--signIn {
	display: none;
}
.modal-content__footer {
	padding-top: 1.5em;
    font-size: 0.9em;
    line-height: 1.5em;
    font-style: italic;
    margin-top: auto;
}

/* dark theme switcher */
.modal-content__theme-switcher {
	display: none;
	align-items: center;
	justify-content: center;
    margin-top: 3em;
    margin-bottom: 0.5em;
}
.signed-in .modal-content__theme-switcher {
	display: flex;
}
.modal-content__theme-switcher > span {
	margin-left: 10px;
	font-size: 1em;
}
.theme-switch {
	display: inline-block;
	position: relative;
	width: 3.5em;
	height: 2em;
}
.theme-switch > input {
	display:none;
}
.theme-switch > .slider {
	background-color: var(--secondary-font-color);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .5s;
}
.theme-switch > .slider:before {
	background-color: var(--font-color);
	bottom: 0.25em;
	content: "";
	height: 1.5em;
	left: 0.25em;
	position: absolute;
	transition: .5s;
	width: 1.5em;
}
.theme-switch > input:checked + .slider {
	background-color: var(--primary-color);
}
.theme-switch > input:checked + .slider:before {
	transform: translateX(1.5em);
}
.theme-switch > .slider.round {
	border-radius: 2em;
}
.theme-switch > .slider.round:before {
	border-radius: 50%;
}


/****** Media Queries *****/
@media screen and (min-width: 35.5em) {
	.modal {
		max-width: 440px;
		margin: 1.75rem auto;
		height: auto;
		top: 50%;
		bottom: auto;
	}
	.modal.fade {
		-webkit-transform: translate(-50%, -25%);
		    -ms-transform: translate(-50%, -25%);
		        transform: translate(-50%, -25%);
	}
	.modal.show {
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	.modal .close {
		width: 1.5em;
	}
	.searchbar {
		margin-left: unset;
		margin-right: auto;
		padding-left: 1em;
	}
	#searchbar__input {
		height: 2.26em;
	}
	.searchbar__icon--search {
		width: 1.6em;
	}
	.sidebar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: calc(100vh - 4.5em);
	}
	#main-nav {
		width: 100%;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
	#account {
		position: relative;
		padding-right: 0;
	}
	#logo {
		position: relative;
		right: auto;
		padding: 0 0.6rem;
	}
	#logo > a {
		background-size: 100%;
	}
	#burger {
		margin-left: 0;
		padding: 0 0.6rem 0 0;
	}
	
	.activeSidebar .filter-button__title, .activeSidebar .sidebar .sorting, .activeSidebar .sidebar span {
		opacity: 0;
	}
	.activeSidebar .sidebar {
		width: 4.8em;
	}
	.activeSidebar #content, .activeSidebar #overlay--sidebar {
		-webkit-transform: translate(0) !important;
		    -ms-transform: translate(0) !important;
		        transform: translate(0) !important;
	}
	#overlay--sidebar {
		display: none !important;
	}
	#main-container {
		padding-left: 16rem;
	}
	.activeSidebar #main-container {
		padding-left: 4.8em;
	}
	.card--list {
		margin: 0 1.05em 1.8em 1.05em;
	}
	.card__cover--single {
		height: 16em;
	}
	/* .tag.technique {
		top:unset;
		bottom:20px;
	}
	.tag.category {
		top:unset;
		bottom:50px;
	}
	*/
	.grid-layout {
		max-width: 30em;
	}
	
}
/* 26em par card */
@media screen and (min-width: 52em) {
	.grid-layout {
		max-width: 52em;
	}
	.card__cover--single {
		height: 18em;
	}
}	
@media screen and (min-width: 70em) {
	.modal-lg {
	max-width: 800px;
	}
	.grid-layout {
		max-width: 76.9em;
	}
	.card__cover--single {
		height: 20em;
	}
}
@media screen and (min-width: 100em) {
	.grid-layout {
		max-width: none;
	}
	.card__cover--single {
		height: 22em;
	}
	
}
@media (hover: hover) {
	a.simple-link:hover {
		text-decoration: underline;
	}
	.sorting {
		margin-bottom: 1.1em;
	}
	.card--list:hover .card__cover--list:before {
		width: 1.6%;
	}
	.card--list:hover .card__cover__img {
		-webkit-transform: translate(-50%,-50%) scale(1.05);
		-ms-transform: translate(-50%,-50%) scale(1.05);
		transform: translate(-50%,-50%) scale(1.05);
	}
	.card__body__controls__rating:hover > .rating__dots {
		display: none;
	}
	.card__body__controls__rating:hover > .rating__icons.active,
	.card__body__controls__rating:hover > .rating__icons.active ~ .rating__icons {
		opacity: 0;
	}
	.card__body__controls__rating:hover .rating__icons.active:hover,
	.card__body__controls__rating:hover .rating__icons.active:hover ~ .rating__icons {
		opacity: 1;
		-webkit-filter: brightness(0.8);
		        filter: brightness(0.8);
	}
	.card__body__controls__rating:hover > .rating__borders, 
	.rating__icons:hover,
	.rating__icons:hover ~ .rating__icons,
	.card__body__controls__rating > .rating__icons.active ~ .rating__icons:hover,
	.rating__icons.active ~ .rating__icons:hover ~ .rating__icons,
	.rating__icons:hover ~ .rating__icons.active,
	.rating__icons:hover ~ .rating__icons.active ~ .rating__icons {
		opacity: 1;
		-webkit-filter: none;
		        filter: none;
	}
	
}
@media screen and (prefers-reduced-motion: reduce) {
	.modal.fade {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	}
}