{% comment %}
	recipe card displayed in recipes list
{% endcomment %}
<div class="grid-item c_{{ recipe.category | slugify }} r_{{ recipe.slug | slugify }}" data-name="{{ recipe.slug | slugify }}" data-date="{{ recipe.date }}" data-rating="0">
	<div class="card--list pure-g">	
		<a href="{{ recipe.url | relative_url }}" class="card__cover card__cover--list before-bg--{{ recipe.category | slugify }}">
			{% if recipe.image and recipe.image != "" %}
			<img class="card__cover__img lazy" data-src="{% if site.env != 'production' %}{{ site.urlbase }}{% endif %}{{ recipe.image }}{{ site.img-transform--card }}" alt="{{ recipe.title }}">
			{% else %}
			<div class="card__cover__img card__cover__img--placeholder" alt="{{ recipe.title }}"></div>
			{% endif %}
		</a>
		<div class="card__body--list">
			<div class="card__body__controls">
				<div class="card__body__controls__rating" value="{{ recipe.slug | slugify }}">				
					<div class="rating__dots"></div>
					<div class="rating__borders"></div>
					<div class="rating__icons 5" title="5 stars" value="5"></div>
				    <div class="rating__icons 4" title="4 stars" value="4"></div>
				    <div class="rating__icons 3" title="3 stars" value="3"></div>
				    <div class="rating__icons 2" title="2 stars" value="2"></div>
					<div class="rating__icons 1" title="1 star" value="1"></div>
				</div>
				<div class="card__body__controls__bookmark" value="{{ recipe.slug | slugify }}"></div>
			</div>		
			<h3 class="card__body__title card__body__title--list">{{ recipe.title | replace: "'", "’" | downcase }}</h3>
			<p class="card__body__description--list">{{ recipe.ingredients | downcase | 
regex_replace: '^([0-9¼½¾⅓⅔]*\s?[¼½¾⅓⅔]?|[0-9]*(\/|,|\.|-|to|or)[0-9]*)\s?(oz.?|ounces?|cups?|tb?sp|(table|tea|bar)spoon|dash(es)?|drops?|top|pinch(es)?|slices?|pieces?|splash(es)?|sprigs?|cubes?|large|(m|c)?l|k?g)?\s', '' | regex_replace: '^handful\sof\s|\s\(.*\)|,\s.*', '' | regex_replace: '[\r\n]', ', ' }}</p>
		</div>
	</div>
</div>