{% comment %}
	recipe card displayed in recipes list
{% endcomment %}
<div class="grid-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4 c_{{ recipe.category | slugify }} r_{{ recipe.slug }}" data-name="{{ recipe.slug }}" data-date="{{ recipe.date }}" data-rating="0">
	<div class="card--list pure-g">	
		<a href="{{ recipe.url | relative_url }}" class=" card__cover card__cover--list before-bg--{{ recipe.category | slugify }} pure-u-1">
			{% if recipe.image and recipe.image != "" %}
			<img class="card__cover__img lazy" data-src="{{ site.img-dir--card }}{{ recipe.image }}" src="{{ site.placeholder_url }}" alt="{{ recipe.title }}">
			{% else %}
			<div class="card__cover__img card__cover__img--placeholder" alt="{{ recipe.title }}"></div>
			{% endif %}
		</a>
		<div class="card__body--list pure-u-1">
			<div class="card__body__controls">
				<div class="card__body__controls__rating" value="{{ recipe.slug }}">				
					<div class="rating__dots"></div>
					<div class="rating__borders"></div>
					<div class="rating__icons 5" title="5 stars" value="5"></div>
				    <div class="rating__icons 4" title="4 stars" value="4"></div>
				    <div class="rating__icons 3" title="3 stars" value="3"></div>
				    <div class="rating__icons 2" title="2 stars" value="2"></div>
					<div class="rating__icons 1" title="1 star" value="1"></div>
				</div>
				<div class="card__body__controls__bookmark" value="{{ recipe.slug }}"></div>
			</div>		
			<h3 class="card__body__title">{{ recipe.title | downcase }}</h3>
			<p class="card__body__description--list">{{ recipe.ingredients | regex_replace: '[\r\n]', ', ' | regex_replace: '\bonce\S*', "oz" | replace: "oz.", "oz" | replace: "teaspoon", "tsp" | replace: "barspoon", "tsp" | replace: "tablespoon", "tbsp" | replace: "1/4", "¼" | replace: "1/2", "½" | replace: "3/4", "¾" | replace: "1/3", "⅓" | replace: "2/3", "⅔" | replace: "1,5", "1½"}}</p>
		</div>
	</div>
</div>