<div class="sidebar" id="sidebar">
	<div class="filter-button-group" id="filter-button--specials">
		<a class="filter-button" id="filter-button--all-recipes" data-filter="*" {% if page.layout and page.layout == 'recipe-single' %}href="/"{% else %}rel="nofollow"{% endif %}>
			<div class="filter-button__active"></div>
			<div class="filter-button__icon filter-button__icon--all-recipes"></div>
			<div class="filter-button__title">all recipes</div>
		</a>
		<a class="filter-button" id="filter-button--bookmarks" data-filter=":not(*)" {% if page.layout and page.layout == 'recipe-single' %}href="/?cat=bookmarks"{% else %}rel="nofollow"{% endif %}>
			<div class="filter-button__active"></div>
			<div class="filter-button__icon filter-button__icon--bookmarks"></div>
			<div class="filter-button__title">collection</div>
		</a>
	</div>
	<div class="filter-button-group" id="filter-button--categories">
		<span>browse by taste :</span>
	{% for category in site.data.taxonomies.categories %}
		<a class="filter-button" data-filter=".c_{{ category | slugify }}" {% if page.layout and page.layout == 'recipe-single' %}href="/?cat={{ category | slugify }}"{% else %}rel="nofollow"{% endif %}>
			<div class="filter-button__active"></div>
			<div class="filter-button__icon filter-button__icon--circle before-bg--{{ category | slugify }}"></div>
			<div class="filter-button__title">{{ category | downcase }}</div>
		</a>
	{% endfor %}
	</div>
	<div class="sorting">
		<span>sort by :</span>
		<ul class="sorting-button-group" id="sorting-button-group">
			<li id="sort-button--name" class="sort-button" data-sorting="name">
				<div class="sort-button__icon sort-button__icon--name"></div>
				<span class="sort-button__label">name</span>
			</li>
			<li id="sort-button--date" class="sort-button" data-sorting="date">
				<div class="sort-button__icon sort-button__icon--date"></div>
				<span class="sort-button__label">date</span>
			</li>
			<li id="sort-button--rating" class="sort-button" data-sorting="rating">
				<div class="sort-button__icon sort-button__icon--rating"></div>
				<span class="sort-button__label">rating</span>
			</li>
		</ul>
	</div>
</div>