---
---

/****** Google Fonts *****/
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:	local('Abril Fatface'), local('AbrilFatface-Regular'),
		  url(../assets/webfonts/Abril-Fatface.woff2) format('woff2'),
		  url(../assets/webfonts/Abril-Fatface.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:	local('Barlow Condensed Light'), local('BarlowCondensed-Light'),
		  url(../assets/webfonts/Barlow-Condensed.woff2) format('woff2'),
		  url(../assets/webfonts/Barlow-Condensed.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/****** Variable *****/
$title-font: 'Abril Fatface', Georgia-Bold, Georgia, cursive;
$text-font: 'Barlow Condensed', Helvetica, sans-serif;

$breakingpoint-SM: 36em;
$breakingpoint-MD: 54.2em;
$breakingpoint-LG: 72.2em;
$breakingpoint-XL: 90.2em;

$sidebar-width: 16rem;
$activeSidebar-width: 4.8em;
$nav-height: 4.5rem;
$nav-paddingX: 1.2rem;
$grid-layout-paddingX: 1.2em;
$card--list-max-width: 26em;
$card--list-min-width: 18em;
$isotopeContent-max-width-SM: $card--list-max-width * 1 + $grid-layout-paddingX * 2;
$isotopeContent-max-width-MD: $card--list-max-width * 2 + $grid-layout-paddingX * 2;
$isotopeContent-max-width-LG: $card--list-max-width * 3 + $grid-layout-paddingX * 2;
$isotopeContent-max-width-XL: $card--list-max-width * 4 + $grid-layout-paddingX * 2;

/****** Mixins *****/
@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}
@mixin transition($property) {
	-webkit-transition: $property;
	-o-transition: $property;
	transition: $property;
	
	@media (prefers-reduced-motion: reduce) {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

@mixin mq-SM {
	@media screen and (min-width: #{$breakingpoint-SM}) {
		@content;
	}
}
@mixin mq-MD {
	@media screen and (min-width: #{$breakingpoint-MD}) {
		@content;
	}
}
@mixin mq-LG {
	@media screen and (min-width: #{$breakingpoint-LG}) {
		@content;
	}
}
@mixin mq-XL {
	@media screen and (min-width: #{$breakingpoint-XL}) {
		@content;
	}
}
@mixin mq-hover {
	@media (hover: hover) {
		@content;
	}
}
@mixin mq-reduce {
	@media screen and (prefers-reduced-motion: reduce) {
		@content;
	}
}

/****** Theme colors *****/
:root {
	--primary-color: {{ site.data.taxonomies.theme-colors.primary_color }};
	--bg-color: {{ site.data.taxonomies.theme-colors.bg_color }};
	--secondary-bg-color: {{ site.data.taxonomies.theme-colors.secondary-bg_color }};
	--font-color: {{ site.data.taxonomies.theme-colors.font_color }};
	--secondary-font-color: {{ site.data.taxonomies.theme-colors.secondary-font_color }};
}

[data-theme="dark"] {
	--primary-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_primary_color }};
	--bg-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_bg_color }};
	--secondary-bg-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_secondary-bg_color }};
	--font-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_font_color }};
	--secondary-font-color: {{ site.data.taxonomies.theme-colors.alt_theme_colors.alt_secondary-font_color }};
}

/****** Category colors *****/
{% for category in site.data.taxonomies.theme-colors.categories-colors %}
.before-bg--{{ category.category-title | slugify }}:before {
	background-color: {{ category.category-color }} !important;
}
{% endfor %}

/****** Imports *****/
@import "base";
@import "header";
@import "sidebar";
@import "main-content";
@import "modal";