---
layout: compress
---
<!doctype html>
<html class="no-js" lang="en">
	{% include head.html %}
	<body class="{% if page.layout and page.layout != '' %}layout--{{ page.layout }}{% else %}{% endif %}">
		{% include header.html %}
		<div id="main-container" class="container pure-g">
			{% include sidebar.html %}
			{{ content }}
		</div>
		{% include modal.html %}
		<div class="overlay" id="overlay--sidebar"></div>
		<div class="overlay overlay--modal" id="overlay--modal"></div>
		{% include footer.html %}
	</body>
	<script type="text/javascript">
		{% include resizeObserver.min.js %}
	</script>
</html>