---
layout: default
---
{% comment %}
	This layout is used to display all the recipes, filtered by a category if specified
{% endcomment %}
<div class="container pure-g">
	<div class="pure-u-1">
		<div class="content">
			<div class="grid-layout">
				<div class="container pure-g">
					{% assign sorted_recipes = site.recipes | sort: "title" %}
					{% for recipe in sorted_recipes %}
						{% include recipe_item.html %}
					{% endfor %}
					{% include account_card.html %}
				</div>
				<div id="noresult">
					<li>no result found</li>
					<li><a class="hl">show all</a></li>
				</div>
			</div>
		</div>
	</div>
</div>